.frame2 {
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 30%; 
}

.frame2 #f2logo {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

.frame2 #f2logo #f2logoStyle {
    height: 60%;
}

.frame2 #f2wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 85%;
}

.frame2 #f2wrapper #f2title {
    display: flex;
    height: 45%;
    align-items: center;
}

.frame2 #f2wrapper #f2title #f2titleElement{
    font-size: 110%;
    color: #2c3e50;
}

.frame2 #f2options {
    display: flex;
    height: 40%;
    width: 100%;
}

.frame2 #f2optionsList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.frame2  #f2optionsList #f2optionsElement {
    display: flex;
    position: relative;
    margin-right: 1vh;
    justify-content: center;
}

.frame2  #f2optionsList #f2optionsElement #f2optionsElementButton {
    border: 'none';
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
    font-size: 90%;
    color: #2c3e50;
}

.frame2  #f2optionsList #f2optionsElement #f2optionsElementButtonHovered {
    border: 'none';
    background-color: #ecf0f1;
    color: #2c3e50;
    cursor: pointer;
    padding: 2;
    margin: 0;
    border: 0;
    border-radius: 10%;
    font-size: 90%;
}

.frame2  #f2optionsList #f2optionsElement #dropDown{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    height: auto;
    width: 30vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.frame2  #f2optionsList #f2optionsElement #dropDown #f2optionsDropDownButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 'none';
    background-color: transparent;
    padding: 2;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    border: 0;
}